## Directorios de compilación de .NET
[Bb]in/
[Oo]bj/

## Archivos y directorios específicos de Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.dbmdl
*.jfm

## Archivos de caché de NuGet
packages/
*.nupkg

## Archivos generados por el sistema operativo
.DS_Store
Thumbs.db